.container {
  display: flex;
  width: 100%;

  flex-direction: row;
  background-color: #121212dc;
}

.listaFilmes {
  max-width: 80%;
  margin: 14px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.listaFilmes article {
  width: 220px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.034);
  padding: 15px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 14px 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.11);
}

.listaFilmes strong {
  height: 44px;
  margin-bottom: 14px;
  text-align: center;
  font-size: 22px;
  display: flex;
  color: #fff;
  font-weight: 500;
}

.listaFilmes img {
  max-width: 100%;
  max-height: 400px;
}

.listaFilmes a {
  background-color: rgba(255, 0, 0, 0.568);
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  margin-top: 14px;
  border-radius: 8px;
  transition: all 0.5s;
}

.listaFilmes a:hover {
  background-color: #ffffff2d;
  border: 0.5px solid #fff;
}

.container-loading {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121212dc;
}

.title-loading {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}
