header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #121212;
    height: 60px;
}

.logo{
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.favoritos {
    color: #FFF;
    text-decoration: none;
    background-color: #ffffff2d;
    padding: 5px 14px;
    border-radius: 8px;
    transition: all 0.5s;
}

.favoritos:hover {
    color: red;
}

.logo span {
    color: red;
}